<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Voice Heard</title>
    <link href='https://fonts.googleapis.com/css?family=Headland One' rel='stylesheet'>
    <link rel="stylesheet" href="SenatorPage.css">


</head>
<body>
    <div class="title" style="position:relative; left:25px; top:40px;">
        <h1><i>About your California Senators</i></h1>
    </div>

    <div class="name" style ="text-align: center; position: relative; left:220px; top: 60px;">
        <h2>Kamala Harris</h2>
    </div>

    <div class="name" style ="text-align: center; position: relative; left:640px; top: 60px">
        <h2>Dianne Feinstein</h2>
    </div>

    <p><img src="Images/harris.jpg" alt="Harris Headshot"
            style="position: relative; left: 110px; top: 120px; width:150px;height:220px; border: 10px solid white; padding: 2px transparent"></p>

    <div class="about" style = position:relative; left: 300px; top; 160px">

    </div>




</body>
</html>