{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Your Voice Heard - BLM</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'website/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

     <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'website/images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
     <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'emailreps:index' %}"><img src="{% static 'website/images/logo.png' %}" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul style = "font-color: ##1f1f1f;">
                            <li><a class="join_bt" href="mailto:yourvoiceheard115@gmail.com">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="{% url 'emailreps:blm' %}">#BLM</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:yemen' %}">Yemen</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:climatechange' %}">Climate Change</a></li>
                         <li><a class="nav-link" href="{% url 'emailreps:2020elections' %}">2020 Elections</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:caofficals' %}">About CA Officals</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:proposeissues' %}">Propose Issues Relevant to YOU</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:results' %}">Top Voted Issues</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page" style = "margin-top: 8%;">
        <div class="container">
            <div class="row">
                 <div class="col-md-12">
                    <div class="full text_align_right_img" style = "margin-left: 3%;opacity: .20; border: solid 5px #990000; display: inline-block; z-index: -20px; ">
                        <img src="{% static 'website/images/fist-2.jpg' %}" alt="#" />
                        <img src="{% static 'website/images/fist-2.jpg' %}" alt="#" />
                        <img src="{% static 'website/images/fist-2.jpg' %}" alt="#" />
                    </div>
                    <div style = "width: 100%; position: center;">
                        <div class = "heading_main" style = "position: absolute; bottom: 63%;float: center; z-index: 50px; padding-top: 20px; text-shadow: 10px 5px 5px #cc2020; margin-top:10%; margin-bottom: -20px;">
                        <br>
                            <h3><strong><i>BLACK LIVES MATTER</i></strong></h3>
                        </div>
                        <div class = "heading_main p.large text_align_center" style = "padding-top: 10px; position: absolute; bottom: 4%;font-color: #000;margin-bottom: -20px;">
                            <p><i><large><br><b>Email the <u><b><a href="#mayors">Mayor of Minneapolis</a></b></u> for justice in respect of <span style ="background: #990000;">George Floyd</span> <br><br>
                                Email the <u><b><a href="#mayors">Mayor of Louisville</a></b></u> for Justice in respect of <span style ="background: #990000;">Breonna Taylor</span><br><br>
                                Email your <u><b><a href="#local">Local Representatives</a></b></u> to<br> <span style ="background: #990000;">Combat Police Brutality</span> and Racial Profiling.<br><br><br></b></large></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->


    <div class="section" style ="margin-bottom:5%;">
        <br><br><br>
        <div class="container" style="padding: 15px; border-top: solid 1px #b01c1c; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <br><br><img src="{% static 'website/images/blmpage-1.jpg' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full padding_left_15">
                        <div class="heading_main text_align_left">
						   <h2>About the Movement</h2>
                        </div>
                    </div>
                    <div class="full padding_left_15">
                        <p class="text-light" id ="source-text">Black Lives Matter (BLM) is an organized movement in the United States advocating for non-violent civil disobedience in protest against incidents of police brutality against African-American people.</p>
                    </div>
                    <div class="full padding_left_15">
                        <div class="main_bt" style = "font-color: #1f1f1f;">
                            <a href="https://blacklivesmatter.com/">Read More ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<!-- section -->
    <div class="section" id ="local" style="background: rgb(0,0,0,.40);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="heading_main text_align_center" style="position: center; width:100%; display:inline;">
                           <h3><br>Email Generator for Your Local Officials</h3>
                            <h6 style ="font-size: 20px; font-color: #cc2020;"><i><br>Demand Change. Fight for Civil Rights.</i></h6>
                        </div>
                </div>

                <!--generate email box -->
                <div class="col-md-6">
                    <div class="field">
                        <textarea id ="message" rows="12" cols="50"></textarea>
                    </div>
                </div>

                <!--fill out form-->
                <div class="col-md-6">
                    <div class="col-lg-9 col-sm-18">
                            <div class="full">
                                <form class="contact_form_inner" id="messageForm01" action="#">
                                    <fieldset>
                                        <div class ="field text_align_center">
                                            <p> Click below to find your local representative based on your district</p>
                                            <button type="button" onclick="location.href='https://www.house.gov/representatives/find-your-representative';">Your Representative</button>
                                        </div>
                                        <br>
                                        <div class="field">
                                            <input type="text" name="inputFirstName_01" placeholder="First Name" required />
                                        </div>
                                        <div class="field">
                                            <input type="text" name="inputLastName_01" placeholder="Last Name" required />
                                        </div>
                                        <div class="field">
                                            <select id ="reps_select" name="reps_select">
                                                <option value="disabledSelect" disabled selected>Your California Officials</option>
                                                <optgroup label = "Senators">
                                                    {% for sen in sens %}
                                                        <option value="{{sen.sen_name}}">{{sen.sen_name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                                <optgroup label = "Representatives">
                                                    {% for rep in reps %}
                                                        <option value="{{rep.rep_name}}">{{rep.rep_name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                        <div class ="field text_align_center">
                                                <br>
                                                <button type="button" style = "background-color: #990000;" onclick="generateMessage(this.form)"><b>GENERATE MESSAGE</b></button>
                                                <br>
                                                <br>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->


     <!-- Petitions-->
      <div class="section" id ="blmpetitions" style ="margin-bottom:5%;">
        <br><br><br>
        <div class="container" style="padding: 15px; border-top: solid 1px #b01c1c; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-12">
                        <div class="heading_main text_align_center">
                            <br><br><br>
						   <h2>Petitions</h2>
                        </div>
                </div>
                    <div class="col-md-12">
                    <div class="full padding_left_15">
                    <div class="text_align_left" style = "background: rgb(204, 32, 32, .25); padding: 25px;">
                        <h1><b>George Floyd</b><br></h1>
                        <div class="row">
                            <div class="col-md-3">
                            <div class=" main_bt" style = "float: left; font-color: #1f1f1f;">
                                <a href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?recruiter=895898514&utm_source=share_petition&utm_medium=twitter&utm_campaign=psf_combo_share_initial&utm_term=psf_combo_share_initial&recruited_by_id=6a4669c0-a74d-11e8-a554-dd9015f4e479">Change.org ></a>
                            </div>
                            </div>
                            <div class="col-md-3">
                            <div class="main_bt" style = "float: center; position: center; font-color: #1f1f1f;">
                                <a href="https://www.thepetitionsite.com/248/031/510/justice-for-george-floyd-another-black-man-needlessly-murdered-by-police/?taf_id=65858665&cid=fb_na">Petition.com ></a>
                            </div>
                            </div>
                            <div class="col-md-3">
                            <div class="main_bt" style = "float: center;position: center; font-color: #1f1f1f;">
                                <a href=https://www.amnesty.org/en/get-involved/take-action/george-floyd-police-violence-usa/>Amnesty.org ></a>
                            </div>
                            </div>
                            <div class="col-md-3">
                             <div class="main_bt" style = "float: center;position: center; font-color: #1f1f1f;">
                                <a href=https://act.colorofchange.org/sign/justiceforfloyd_george_floyd_minneapolis/?source=dm_sms_optin_5-26-20>ColorofChange.org ></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="col-md-12" style ="margin-top:30px;">
                    <div class="full padding_left_15">
                         <div class ="text_align_left" style = "background: rgb(204, 32, 32, .25); padding: 20px;">
                        <h1><b>Breonna Taylor</b><br><br></h1>
                             <div class="row">
                         <div class="col-md-3">
                            <div class="main_bt" style = "float: left; font-color: #1f1f1f;">
                                <a href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?recruiter=895898514&utm_source=share_petition&utm_medium=twitter&utm_campaign=psf_combo_share_initial&utm_term=psf_combo_share_initial&recruited_by_id=6a4669c0-a74d-11e8-a554-dd9015f4e479">Change.org ></a>
                            </div>
                         </div>
                          <div class="col-md-3">
                            <div class="main_bt" style = "float: center; position: center; font-color: #1f1f1f;">
                                <a href="https://www.thepetitionsite.com/248/031/510/justice-for-george-floyd-another-black-man-needlessly-murdered-by-police/?taf_id=65858665&cid=fb_na">Petition.com ></a>
                            </div>
                          </div>
                             <div class="col-md-3">
                                <div class="main_bt" style = "float: center;position: center; font-color: #1f1f1f;">
                                    <a href=https://www.amnesty.org/en/get-involved/take-action/george-floyd-police-violence-usa/>Amnesty.org ></a>
                                </div>
                             </div>
                         <div class="col-md-3">
                             <div class="main_bt" style = "float: center;position: center; font-color: #1f1f1f;">
                                <a href=https://act.colorofchange.org/sign/justiceforfloyd_george_floyd_minneapolis/?source=dm_sms_optin_5-26-20>ColorofChange.org ></a>
                            </div>
                         </div>
                         </div>
                         </div>
                    </div>
                    </div>


            <div class="col-md-12" style ="margin-top:30px;">
                    <div class="full">
                         <div class ="text_align_left" style = "background: rgb(204, 32, 32, .25); padding: 20px;">
                        <h1><b>Other Petitions</b><br><br></h1>
                             <div class="row">
                         <div class="col-md-3">
                            <div class="main_bt" style = "float: center; position:center; font-color: #1f1f1f;">
                                <a href="https://www.change.org/p/governor-brian-kemp-justice-for-ahmaud-arbery">Georgia Hate<br> Crime Bill></a>
                            </div>
                         </div>
                             <div class="col-md-3">
                                <div class="main_bt" style = "float: center; position: center; font-color: #1f1f1f;">
                                    <a href=https://www.amnesty.org/en/get-involved/take-action/george-floyd-police-violence-usa/>Amnesty.org ></a>
                                </div>
                             </div>
                         <div class="col-md-3">
                             <div class="main_bt" style = "float: center;position: center; font-color: #1f1f1f;">
                               <a href=https://www.change.org/p/gouvernement-fran%C3%A7ais-refus-de-la-loi-visant-%C3%A0-emp%C3%AAcher-la-diffusion-des-images-de-violences-polici%C3%A8res?utm_content=cl_sharecopy_22450892_fr-FR%3Av5&recruiter=792266977&recruited_by_id=86f08ea0-9f58-11e7-961e-cda0813a4e4f&utm_source=share_petition&utm_medium=copylink&utm_campaign=psf_combo_share_abi&utm_term=psf_combo_share_abi>France Police Reform></a>
                            </div>
                         </div>

                         <div class="col-md-3">
                             <div class="main_bt" style = "float: center;position: center; font-color: #1f1f1f;">
                               <a href=https://www.change.org/p/district-attorney-tom-durden-justice-for-ahmaud-arbery-i-run-with-maud?source_location=discover_feed>Ahmaud Arbery></a><br><br>
                            </div>
                         </div>
                         </div>
                         </div>
                    </div>
                    </div>
        </div>
            <br><br>
                    </div>
                </div>
            </div>
        </div>


      <!-- Email section -->
    <div class="section" id ="mayors" style="background: rgb(0,0,0,.40);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="heading_main text_align_center" style="position: center; width:100%; display:inline;">
                           <h3><br>Email Out of State Officials</h3>
                            <h6 style ="font-size: 20px; font-color: #cc2020;"><i><br>Say their Names. Ask for Justice.</i></h6>
                        </div>
                </div>
                <div class="col-md-12 col-lg-9 col-sm-18">
                    <div class="text_align_center">
                        <form class="contact_form_inner" style="width:100%; margin-left: 20%;" id="messageForm02" action="#">
                            <fieldset>
                                <div class="field">
                                    <input type="text" name="inputFirstName_02" placeholder="First Name" required />
                                </div>
                                <div class="field">
                                    <input type="text" name="inputLastName_02" placeholder="Last Name" required />
                                </div>
								<div class="field">
									<select id ="orgs" name="orgs">
										<option value="disabledSelect" disabled selected>Who to Contact</option>
										<option value="Greg Fischer">Louisville Mayor</option>
										<option value="Jacob Frey">Minneapolis Mayor</option>
									</select>
								</div>
                                <div class="field">
                                    <br> <button type="button" onclick="generateEmail(this.form)">EMAIL</button><br><br><br>
                                </div>
                            </fieldset>
                        </form>
                    </div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

     <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="center_img">
                                <img class="img-responsive" src="{% static 'website/images/footer_logo2.png' %}" alt="#" />
                            </div>
                        </div>
                        </div>
					</div>
                </div>
			 </div>
    </footer>

    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">©Created by Students at University of California, Santa Cruz.</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
	<script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>

    <!-- ALL PLUGINS -->
	<script src="{% static 'website/js/generate-message.js' %}"></script>
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'website/js/slider-index.js' %}"></script>
    <script src="{% static 'website/js/smoothscroll.js' %}"></script>
    <script src="{% static 'website/js/form-validator.min.js' %}"></script>
    <script src="{% static 'website/js/contact-form-script.js' %}"></script>
    <script src="{% static 'website/js/isotope.min.js' %}"></script>
    <script src="{% static 'website/js/images-loded.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>

</body>


</html>