{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Your Voice Heard - BLM</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'website/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'website/images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
     <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'emailreps:index' %}"><img src="{% static 'website/images/logo.png' %}" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul style = "font-color: ##1f1f1f;">
                            <li><a class="join_bt" href="mailto:yourvoiceheard115@gmail.com">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="{% url 'emailreps:blm' %}">#BLM</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:yemen' %}">Yemen</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:climatechange' %}">Climate Change</a></li>
                         <li><a class="nav-link" href="{% url 'emailreps:2020elections' %}">2020 Elections</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:caofficals' %}">About CA Officals</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:proposeissues' %}">Propose Issues Relevant to YOU</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:results' %}">Top Voted Issues</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>California Representatives</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Content -->
    <div class="section">
        <div class="container">
            <div class="card-group">
                {% for rep in reps %}
                    {% if forloop.counter0|divisibleby:3 %}
                        </div>
                        <div class="card-group">
                    {% endif %}
                        <div class="card text-dark font-weight-bold" style="{% if rep.party == 'Republican' %} background-color: #fa8072; {% elif rep.party == 'Democrat' %} background-color: #E0FFFF; {% endif %}">
                        <div class="card-body">
                        <h5 class="card-title text-dark">{{rep.rep_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Party: {{rep.party}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{rep.district}} District</h6>
                        <p class="card-text text-dark">Comittee(s): {{rep.comittee}}</p>
                        <a href="{{rep.website}}" class="card-link">Website</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
</div>

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>California Senators</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Content -->
    <div class="section">
        <div class="container">
            <div class="card-group">
                {% for sen in sens %}
                    <div class="card text-dark font-weight-bold" style="{% if sen.party == 'Republican' %} background-color: #fa8072; {% elif sen.party == 'Democrat' %} background-color: #E0FFFF; {% endif %}">
                        <div class="card-body">
                        <h5 class="card-title text-dark">{{sen.sen_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Party: {{sen.party}}</h6>
                        <a href="{{sen.website}}" class="card-link">Website</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
</div>

    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="center_img">
                                <img class="img-responsive" src="{% static 'website/images/footer_logo2.png' %}" alt="#" />
                            </div>
                        </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">©Created by Students at University of California, Santa Cruz.</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
	<script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>

    <!-- ALL PLUGINS -->
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'website/js/slider-index.js' %}"></script>
    <script src="{% static 'website/js/smoothscroll.js' %}"></script>
    <script src="{% static 'website/js/form-validator.min.js' %}"></script>
    <script src="{% static 'website/js/contact-form-script.js' %}"></script>
    <script src="{% static 'website/js/isotope.min.js' %}"></script>
    <script src="{% static 'website/js/images-loded.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>

</body>

</html>