{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Tells browser to use the UTF-8 character encoding -->
    <meta charset="utf-8" />

    <!-- Set Title of Website to "Your Voice Heard" -->
    <title>Your Voice Heard</title>

    <!-- Link Stylesheet file to handle formatting/font/creating boxes/etc. -->
    <link rel="stylesheet"type="text/css" href="{% static 'CSS/email_rep.css' %}">

  </head>
  <body>
    <div class="main">

      <!-- Links to construction of transparent box in CSS file via class
      "box1" and centers text inside box-->
      <div class="box1" style="position:relative; left:100px; top:0px;">

        <!-- Header for page to inform User where they are -->
        <h1><i>EMAIL TO HELP</i></h1>

      </div>

      <!-- Header for Issue User is on -->
      <div style="position:relative; left:350px; top:-30px;">
        <h3>Issue #1:</h3>
      </div>

      <!-- Header for List of Representatives -->
      <div style="position:relative; left:390px; top:-30px;">
        <h4>Different Representatives to Contact:</h4>
      </div>

      <!-- Gives list of Representatives, Their District, and Emails -->
      <div style="position:relative; left:430px; top:-20px;">

        <h4>Doug LaMalfa</h4>
        <h4>1st District</h4>
        <h4>Email: CA01scheduling@mail.house.gov </h4>

        <br>

        <h4>Jared Huffman</h4>
        <h4>2nd District</h4>
        <h4>Email: info@jaredhuffman.com </h4>

        <br>

        <h4>John Garamendi</h4>
        <h4>3rd District</h4>
        <h4>Email: jrg@mail.house.gov </h4>
      </div>

      <!-- Links to construction of black box in CSS file via class "box1" and
      centers text inside box, acts as navbox for user-->
      <div class="box2" style="position:absolute; left:150px; top:200px;
        text-align:center">

        <!-- Places arrow at center top of Navbox to help user navigate through
        different issues -->
        <img src="images/arrow.png" id="upArrow">

          <br><br><br>

          <!-- Hyperlink that takes user to page on info about Issue
          (Currently takes to file "email_rep.html")-->
          <a href="email_rep.html"><h3>Issue #1</h3></a>

          <br>

          <!-- Hyperlink that takes user to page on info about Issue
          (Currently takes to file "email_rep.html")-->
          <a href="email_rep.html"><h3>Issue #2</h3></a>

          <br>

          <!-- Hyperlink that takes user to page on info about Issue
          (Currently takes to file "email_rep.html")-->
          <a href="email_rep.html"><h3>Issue #3</h3></a>

          <br>

          <!-- Hyperlink that takes user to page on info about Issue
          (Currently takes to file "email_rep.html")-->
          <a href="email_rep.html"><h3>Issue #4</h3></a>

          <br>

          <!-- Hyperlink that takes user to page on info about Issue
          (Currently takes to file "email_rep.html")-->
          <a href="email_rep.html"><h3>Issue #5</h3></a>

          <br><br><br>

        <!-- Places arrow at center top of Navbox to help user navigate through
        different issues -->
        <img src="images/arrow.png" id="downArrow">
      </div>

    </div>

    <script>

      // Creates instance variable to call function when Arrow is clicked on
      var upArrow = document.getElementById("upArrow");
      var downArrow = document.getElementById("downArrow");

      // Function to handle clicking on upwards arrow (not yet created)
      upArrow.onclick = function()
      {

      }

      // Function to handle clicking on downwards arrow (not yet created)
      downArrow.onclick = function()
      {

      }

    </script>

  </body>
</html>
