{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Your Voice Heard - Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'website/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'website/images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'emailreps:index' %}"><img src="{% static 'website/images/logo.jpg' %}" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:yourvoiceheard115@gmail.com"><img src="{% static 'website/images/mail_icon.png' %}" alt="#" />yourvoiceheard115@gmail.com</a></li>
                            <li><a href="tel:yourvoiceheard115@gmail.com"><img src="{% static 'website/images/phone_icon.png' %}" alt="#" />N/A</a></li>
                            <li><a class="join_bt" href="{% url 'emailreps:vote' %}">We need your voice</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{% url 'emailreps:index' %}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:blm' %}">#BLM</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:ice' %}">ICE</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:yemen' %}">Yemen</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:climatechange' %}">Climate Change</a></li>
                         <li><a class="nav-link" href="{% url 'emailreps:2020elections' %}">2020 Elections</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:caofficals' %}">About CA Officals</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:proposeissues' %}">Propose Your Issues?</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/images/slidenum1.jpg' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>YOUR VOICE HEARD</h3>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/images/slidenum2.jpg' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>Silence is <br><strong><i>Violence</i></strong></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
         </div>
    </div>

    <!-- End Banner -->

	<!-- BLM section -->
    <div class="section">
        <br><br><br>
        <div class="container" style="padding: 15px; border-top: solid 1px #b01c1c; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <br><br><img src="{% static 'website/images/blmindex.jpg' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">Black</span> Lives Matter</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p class="text-light">Black Lives Matter (BLM) is an organized movement in the United States advocating for non-violent civil disobedience in protest against incidents of police brutality against African-American people.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Sign Petitions and EMAIL></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->


    <!-- ICE section -->
    <div class="section layout_padding about_bg">
        <div class="container" style="padding: 5px; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>International Students<br><span class="theme_color">versus ICE</span></h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p class="text-light">ICE Threatens To Deport International Students If They Don't Attend In-Person Classes. U.S. Immigration and Customs Enforcement announced Monday new guidelines that deny visas to international students attending U.S. colleges that offer online-only courses this fall.</p>
                    </div>
                    <div class="full paddding_left_15 padding_bottom">
                        <a class="main_bt padding" href="#">Sign Petitions and Email></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full paddding_left_15 padding_bottom">
                        <div class="full text_align_right_img">
                            <img src="{% static 'website/images/iceindex.jpg' %}" alt="#" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    <!-- YEMEN section -->
    <div class="section">
        <div class="container" style="padding: 5px; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{% static 'website/images/img1.png' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">Yemen</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p class="text-light">The Politics of Yemen are in an uncertain state due to the Houthi takeover in Yemen.
                            An armed group known as the Houthis or Ansar Allah seized control of the Northern Yemeni
                             government and announced it would dissolve parliament, as well as install a "presidential council",
                              "transitional national council", and "supreme revolutionary council" to govern the country for an interim period.
                               However, the deposed president, Abdrabbuh Mansur Hadi, has declared he is still in office and is working to establish a rival government in Aden.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Sign Petitions and Email></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->

    <!-- Climate Change section -->
    <div class="section layout_padding about_bg">
        <div class="container" style="padding:5px; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>Climate Change</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p class="text-light">Global warming is the ongoing rise of the average temperature of the Earth's climate system. It is a major aspect of climate change which, in addition to rising global surface temperatures, also includes its effects, such as changes in precipitation. While there have been prehistoric periods of global warming, observed changes since the mid-20th century have been unprecedented in rate and scale.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Sign Petitions and Email ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{% static 'website/images/climchangeindex.jpg' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->



	<!-- links to helpful resources section -->
    <div class="section layout_padding padding_top_0">
        <div class="container" style="padding: 40px; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <br><br>
                           <h2><span class="theme_color"></span>YOUR VOICE IN THE 2020 ELECTIONS</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="" href="https://vote.gov/">
                    <div class="full news_blog">
                       <img class="img-responsive" src="{% static 'website/images/b1.png' %}" alt="#" />
                       <div class="overlay"></div>
                       <div class="blog_details">
                         <h3>Register to Vote</h3>
                         <p>Voter registration (or enrollment) is the requirement that a person otherwise eligible to vote register (or enroll) on an electoral roll before they will be entitled or permitted to vote</p>
                       </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="" href="https://ballotpedia.org/Presidential_candidates,_2020">
                    <div class="full news_blog">
                        <img class="img-responsive" src="{% static 'website/images/b2.png' %}" alt="#" />
                        <div class="overlay"></div>
                       <div class="blog_details">
                         <h3>Know your 2020 Candidates</h3>
                         <p>Americans will elect the next president of the United States on November 3, 2020.</p>
                       </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="" href="https://projects.fivethirtyeight.com/polls/">
                    <div class="full news_blog">
                        <img class="img-responsive" src="{% static 'website/images/b3.png' %}" alt="#" />
                        <div class="overlay"></div>
                       <div class="blog_details">
                         <h3>Follow Election Polls</h3>
                         <p>See the latest political polls and stay up to date with current data.</p>
                       </div>
                    </div>
                    </a>
                </div>
             </div>
        </div>
    </div>
    <!-- end section -->

    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="{% static 'website/images/footer_logo.png' %}" alt="#" />
                            </div>
                        </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">©Created by Students at University of California, Santa Cruz.</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
	<script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'website/js/slider-index.js' %}"></script>
    <script src="{% static 'website/js/smoothscroll.js' %}"></script>
    <script src="{% static 'website/js/form-validator.min.js' %}"></script>
    <script src="{% static 'website/js/contact-form-script.js' %}"></script>
    <script src="{% static 'website/js/isotope.min.js' %}"></script>
    <script src="{% static 'website/js/images-loded.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>
	<script>
	/* counter js */

(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};

		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);

			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;

			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};

			$self.data('countTo', data);

			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);

			// initialize the element with the starting value
			render(value);

			function updateTimer() {
				value += increment;
				loopCount++;

				render(value);

				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}

				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;

					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}

			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};

	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};

	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });

  // start all the timers
  $('.timer').each(count);

  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
	</script>
</body>
