{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Tells browser to use the UTF-8 character encoding -->
    <meta charset="utf-8" />
    <!-- Set Title of Website to "Your Voice Heard" -->
    <title>Your Voice Heard</title>

    <!-- Link Stylesheet file to handle formatting/font/creating boxes/etc. -->
    <link rel="stylesheet"type="text/css" href="{% static 'CSS/style.css' %}">
  </head>


  <body>

    <div class="main">

      <!-- Links to construction of black box in CSS file via class "box1" and
      centers text inside box-->
      <div class="box1" style="position:relative; left:320px; top:50px;
        text-align:center">

        <!-- Creates Header for words "YOUR VOICE HEARD" -->
        <h1>YOUR VOICE HEARD</h1>
      </div>

      <!-- Subtext beneath black box mentioned above -->
      <div style="font-size: 20px; position:relative; left:420px; top:80px;">
        <h5><i>Do your part - let your government know where you stand</i></h5>
      </div>

      <!-- Links to construction of transparent box in CSS file via class
      "box2" and centers text inside box-->
      <div class="box2" style="position:relative; left:480px; top:130px;
        text-align:center">

        <!-- Hyperlink that takes user to page where they can contact senators
        (Currently takes to file "email_rep.html")-->
        <a href="email_rep.html"><h3>EMAIL TO MAKE A DIFFERENCE</h3></a>

      </div>

      <!-- Links to construction of transparent box in CSS file via class
      "box3" and centers text inside box-->
      <div class="box3" style="position:relative; left:510px; top:165px;
        text-align:center">

        <!-- Hyperlink that takes user to page where they can contact Santa Cruz
        officials (Currently takes to file "email_rep.html")-->
        <a href="propose_vote_issues.html"><h3>WHAT ISSUES NEED TO BE HEARD?</h3></a>
      </div>

      <div class="box3" style="position:relative; left:510px; top:200px;
        text-align:center">

        <!-- takes you to know about your senators--!>
        <a href="SenatorPage.html"><h3>ABOUT YOUR CA SENATORS</h3></a>
      </div>

      <div class="box3" style="position:relative; left:510px; top:240px;
        text-align:center">

        <!-- takes you to know about your reps--!>
        <a href="RepsPage.html"><h3>ABOUT YOUR CA REPRESENTATIVES</h3></a>
      </div>


      <!-- Links to construction of black box in CSS file via class "box4" and
      centers text inside box-->
      <div class="box4" style="position:relative; left:530px; top:280px;
        text-align:center">

        <!-- Hyperlink that takes user to page where they can go to forum page
        (Currently takes to file "email_rep.html")-->
        <a href="email_rep.html"><h4>CLICK FOR FORUM PAGE</h4></a>
      </div>
      <!--
       Links to construction of transparent box in CSS file via class
      "box5" and centers text inside box
      <div class="box5" style="position:relative; left:530px; top:290px;
        text-align:center">

              Subtext beneath Forum Page hyperlink mentioned above
        <h5><i>Keep Up to Date With Current Issues from Your Fellow Activists</i></h5>
      </div>

      Hyperlink that takes user to page where they can see who their
      California Senators are (Currently takes to file "email_rep.html")
      <div style="position:relative; left:300px; top:150px;">
        <a href="email_rep.html"><h5>California Senator Profiles</h5></a>
      </div>

      <!-- Hyperlink that takes user to page where they see who their Santa
      Cruz representatives are (Currently takes to file "email_rep.html")
      <div style="position:relative; left:1000px; top:135px;">
        <a href="email_rep.html"><h5>Santa Cruz Representatives Profiles</h5></a>
      </div> -->


    </div>

  </body>
</html>
