<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Voice Heard</title>
    <link rel="stylesheet" href="propose_vote_issues.css">
    <link href='https://fonts.googleapis.com/css?family=Headland One' rel='stylesheet'>
    <link rel="stylesheet"type="text/css" href="{% static 'CSS/propose_vote_issues.css' %}">
</head>
<body>
     <div class="title" style="position:relative; left:25px; top:40px;">
        <h1><i>Most Relevant Politcal Issues According to YOU</i></h1>
    </div>



</body>
</html>
