{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Voice Heard</title>
    <link rel="stylesheet"type="text/css" href="{% static 'CSS/RepsPage.css' %}">
</head>
<body>
    <div class="title" style="position:relative; left:25px; top:40px;">
        <h1><i>About your California Representatives</i></h1>
    </div>
    
    <div class="name" style ="text-align: center; position: relative; left:220px; top: 60px;">
        <h2>Doug LaMalfa
            Jared Huffman
            John Garamendi
            Tom McClintock
            Mike Thompson
            Doris Matsui
            Ami Bera
            Paul Cook
            Jerry McNerney
            Josh Harder
            Mark DeSaulnier
            Nancy Pelosi
            Barbara Lee
            Jackie Speier
            Eric Swalwell
            Jim Costa
            Ro Khanna
            Anna Eshoo
            Zoe Lofgren
            Jimmy Panetta
            TJ Cox
            Devin Nunes
            Kevin McCarthy
            Salud Carbajal
            Mike Garcia
            Julia Brownley
            Judy Chu
            Adam Schiff
            Tony Cárdenas
            Brad Sherman
            Pete Aguilar
            Grace Napolitano
            Ted Lieu
            Jimmy Gomez
            Norma Torres
            Raul Ruiz
            Karen Bass
            Linda Sánchez
            Gilbert Ray Jr. Cisneros
            Lucille Roybal-Allard
            Mark Takano
            Ken Calvert
            Maxine Waters
            Nanette Barragán
            Katie Porter
            Luis Correa
            Alan Lowenthal
            Harley Rouda
            Mike Levin
            N/A (Seat is vacant)
            Juan Vargas
            Scott Peters
            Susan Davis</h2>
    </div>
    
    

</body>
</html>
