{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Voice Heard</title>
    <link rel="stylesheet"type="text/css" href="{% static 'CSS/RepsPage.css' %}">
</head>
<body>
    <div class="title" style="position:relative; left:25px; top:40px;">
        <h1><i>About your California Representatives</i></h1>
    </div>
    
    <div class="name" style ="text-align: center; position: relative; left:220px; top: 60px;">
        {% for rep in reps %}
            <h2>{{ rep.rep_name }}</h2>
        {% endfor %}
        
    </div>
    
    

</body>
</html>
