
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Your Voice Heard - Yemen</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'website/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'website/images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

  <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'emailreps:index' %}"><img src="{% static 'website/images/logo.png' %}" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:yourvoiceheard115@gmail.com"><img src="{% static 'website/images/mail_icon.png' %}" alt="#" />yourvoiceheard115@gmail.com</a></li>
                            <li><a class="join_bt" href="{% url 'emailreps:blm' %}">Sign BLM Petitions</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="{% url 'emailreps:blm' %}">#BLM</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:yemen' %}">Yemen</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:climatechange' %}">Climate Change</a></li>
                         <li><a class="nav-link" href="{% url 'emailreps:2020elections' %}">2020 Elections</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:caofficals' %}">About CA Officals</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:proposeissues' %}">Propose Issues Relevant to YOU</a></li>
                        <li><a class="nav-link" href="{% url 'emailreps:results' %}">Top Voted Issues</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->


    <!--about-->
    <div class="section" style ="margin-bottom:5%;">
        <br><br><br>
        <div class="container" style="padding: 15px; border-top: solid 1px #b01c1c; border-bottom: solid 1px #b01c1c">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <br><br><img src="{% static 'website/images/blmpage-1.jpg' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2>What is happening in Yemen?</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p class="text-light" id ="source-text">The Politics of Yemen are in an uncertain state due to the Houthi takeover in Yemen.
                            An armed group known as the Houthis or Ansar Allah seized control of the Northern Yemeni
                             government and announced it would dissolve parliament, as well as install a "presidential council",
                              "transitional national council", and "supreme revolutionary council" to govern the country for an interim period.
                               However, the deposed president, Abdrabbuh Mansur Hadi, has declared he is still in office and is working to establish a rival government in Aden.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <div class="main_bt" style = "font-color: #1f1f1f;">
                            <a href="https://www.hrw.org/world-report/2020/country-chapters/yemen">Read More ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- section -->
    <div class="section" style="background: rgb(0,0,0,.40);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="heading_main text_align_center" style="position: center; width:100%; display:inline;">
                           <h3><br>Email Your Officials</h3>
                            <h6 style ="font-size: 20px; font-color: #cc2020;"><i><br>UNICEF has recognized Yemen as the largest humanitarian crisis</i></h6>
                        </div>
                </div>

                <!--generate email box -->
                <div class="col-md-6">
                    <div class="field">
                        <textarea id ="message" rows="12" cols="50"></textarea>
                    </div>
                </div>

                <!--fill out form-->
                <div class="col-md-6">
                    <div class="col-lg-9 col-sm-18">
                            <div class="full">
                                <form class="contact_form_inner" id="messageForm01" action="#">
                                    <fieldset>
                                        <div class ="field text_align_center">
                                            <p> Click below to find your local representative based on your district</p>
                                            <button type="button" onclick="location.href='https://www.house.gov/representatives/find-your-representative';">Your Representative</button>
                                        </div>
                                        <br>
                                        <div class="field">
                                            <input type="text" name="inputFirstName_01" placeholder="First Name" required />
                                        </div>
                                        <div class="field">
                                            <input type="text" name="inputLastName_01" placeholder="Last Name" required />
                                        </div>
                                        <div class="field">
                                            <select id ="reps_select" name="reps_select">
                                                <option value="disabledSelect" disabled selected>Your California Officials</option>
                                                <optgroup label = "Senators">
                                                    {% for sen in sens %}
                                                        <option value="{{sen.sen_name}}">{{sen.sen_name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                                <optgroup label = "Representatives">
                                                    {% for rep in reps %}
                                                        <option value="{{rep.rep_name}}">{{rep.rep_name}}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                        <div class ="field text_align_center">
                                                <br>
                                                <button type="button" style = "background-color: #990000;" onclick="generateMessage(this.form)"><b>GENERATE MESSAGE</b></button>
                                                <br>
                                                <br>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- end section -->

    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="center_img">
                                <img class="img-responsive" src="{% static 'website/images/footer_logo2.png' %}" alt="#" />
                            </div>
                        </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">©Created by Students at University of California, Santa Cruz.</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
	<script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>

    <!-- ALL PLUGINS -->
	<script src="{% static 'website/js/generate-message.js' %}"></script>
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'website/js/slider-index.js' %}"></script>
    <script src="{% static 'website/js/smoothscroll.js' %}"></script>
    <script src="{% static 'website/js/form-validator.min.js' %}"></script>
    <script src="{% static 'website/js/contact-form-script.js' %}"></script>
    <script src="{% static 'website/js/isotope.min.js' %}"></script>
    <script src="{% static 'website/js/images-loded.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>

</body>
</html>