<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Your Voice Heard</title>
    <link rel="stylesheet" href="email_rep.css">
  </head>
  <body>
    <div class="main">

      <div class="box1" style="position:relative; left:100px; top:0px;">
        <h1><i>Contact Your Federal Representatives</i></h1>
      </div>

      <div style="position:relative; left:350px; top:-30px;">
        <h3>Issue #1:</h3>
      </div>

      <div style="position:relative; left:390px; top:-30px;">
        <h4>Different Representatives to Contact:</h4>
      </div>

      <div style="position:relative; left:430px; top:-20px;">

        <h4>Doug LaMalfa</h4>
        <h4>1st District</h4>
        <h4>Email: CA01scheduling@mail.house.gov </h4>

        <br>

        <h4>Jared Huffman</h4>
        <h4>2nd District</h4>
        <h4>Email: info@jaredhuffman.com </h4>

        <br>

        <h4>John Garamendi</h4>
        <h4>3rd District</h4>
        <h4>Email: jrg@mail.house.gov </h4>
      </div>

      <div class="box2" style="position:absolute; left:150px; top:200px;
        text-align:center">
        <img src="images/arrow.png" id="upArrow">

          <br><br><br>

          <a href="email_rep.html"><h3>Issue #1</h3></a>

          <br>

          <a href="email_rep.html"><h3>Issue #2</h3></a>

          <br>

          <a href="email_rep.html"><h3>Issue #3</h3></a>

          <br>

          <a href="email_rep.html"><h3>Issue #4</h3></a>

          <br>

          <a href="email_rep.html"><h3>Issue #5</h3></a>

          <br><br><br>

        <img src="images/arrow.png" id="downArrow">
      </div>

    </div>

    <script>
      var upArrow = document.getElementById("upArrow");
      var downArrow = document.getElementById("downArrow");

      upArrow.onclick = function()
      {

      }

      downArrow.onclick = function()
      {

      }

    </script>

  </body>
</html>
