<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Your Voice Heard</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="main">

      <div class="box1" style="position:relative; left:350px; top:100px;
        text-align:center">
        <h1>YOUR VOICE HEARD</h1>
      </div>

      <div style="position:relative; left:530px; top:100px;">
        <h5><i>Do your part - let your government know where you stand</i></h5>
      </div>

      <div class="box2" style="position:relative; left:300px; top:140px;
        text-align:center">
        <a href="email_rep.html"><h3>EMAIL CALIFORNIA SENATORS</h3></a>
      </div>

      <div class="box3" style="position:relative; left:800px; top:50px;
        text-align:center">
        <a href="email_rep.html"><h3>EMAIL SANTA CRUZ OFFICIALS</h3></a>
      </div>

      <div class="box4" style="position:relative; left:650px; top:100px;
        text-align:center">
        <a href="email_rep.html"><h4>CLICK FOR FORUM PAGE</h4></a>
      </div>

      <div class="box5" style="position:relative; left:615px; top:100px;
        text-align:center">
        <h5><i>Keep Up to Date With Current Issues from Your Fellow Activists</i></h5>
      </div>

      <div style="position:relative; left:300px; top:150px;">
        <a href="email_rep.html"><h5>California Senator Profiles</h5></a>
      </div>

      <div style="position:relative; left:1000px; top:135px;">
        <a href="email_rep.html"><h5>Santa Cruz Representatives Profiles</h5></a>
      </div>


    </div>

  </body>
</html>
